@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Regular.ttf');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url(../fonts/FuturaLightC.ttf);
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/FuturaBookC.ttf);
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/FuturaMediumC.ttf);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Futura';
    src: url(../fonts/FuturaDemiC.ttf);
    font-weight: 500;
    font-style: normal;
  }

@mixin Futura {
    font-family: 'Futura', sans-serif;
}

@mixin OpenSans {
    font-family: 'Open Sans Light', sans-serif;
}