.slider {
    position: relative;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;

  }

  .slider__item {
    padding-left: 10px;
    padding-right: 10px;
    background: #F1F1F1;
    border-radius: 3px;
  }


  .slider__content {
    display: flex;
    align-items: center;
    padding: 30px 0 16px 30px;
}

.slider__content-photo {
    margin-right: 20px;
    display: block;
    width: 60px;
    height: 60px;   
}

.slider__content-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #2F3547;
}

.slider__text {
    margin: 0 30px 28px;
    @include text();
    font-size: 16px;
    color: #4E4E4E;
    padding-bottom: 25px;
}

@media (max-width: 767px) {
  .slider__content {
    padding: 20px 0 6px 20px;
  }
  .slider__text {
    margin: 0 20px 28px;
  }
}
  
